<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: linear-gradient(90deg, rgba(2,2,3,0.7693452380952381) 31%, rgba(68,68,68,0.8785889355742297) 63%, rgba(177,177,189,0.9458158263305322) 100%);">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/articles/new">Add a hike</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles/auth/google">login page</a>
        </li>
      </ul>
    </div>
  </nav>